@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&family=Righteous&family=Russo+One&display=swap');

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    font-family: "Righteous", sans-serif;
    font-size: 1.5rem;
    height: 5%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #9F111B;

}

.nav-buttons {
    font-family: "Righteous", sans-serif;
    left: 10px;
    display: flex;
    gap: 10px;
    padding: 10px 15px;
}

.nav-buttons span {
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    color: black;
    padding: 8px 12px;
}