@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&family=Righteous&family=Russo+One&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Russo One", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #69075c; /* 9F111B */
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 25%;
}

.tarjetaCarro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 20%;
    text-align: center;
    cursor: pointer;
}

.fotoCarro{
    text-align: center;
    width: 40%;
    height: auto;
    padding-right: 5%;
}

.fotoCarro img {
    width: 100%;
    height: auto;
    margin: 0;
    align-items: left;
    padding-bottom: 10px;
}

.infoCarro {
    text-align: left;
    width: 80%;
}

.fotoCarro h2 {
    font-size: 1.7rem;
}

.infoCarro p {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 1.15rem;
    padding-bottom: 5px;
}

.statusBueno {
    color: darkseagreen;
}

.statusPromedio {
    color: orange;
}

.statusMala {
    color: red;
}
