@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&family=Russo+One&display=swap');
body {
    margin: 0;
    font-family: "Russo One", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9F111B;
    padding-top: 2%;
    padding-bottom: 23%;
}

.info-general{
    padding-bottom: 0px;
}

.info-manto{
    padding-bottom: 10px;
}

.flechatras{
    position:absolute;
    padding-left: 5%;
    font-size: 2rem;
}

.tarjetaCarro {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 0 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;
}

h1{
    padding-left: 5%;
    padding-bottom: 3%;
    margin: 0;
    font-size: 1.7rem;
}

.fotoCarro{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fotoCarro img {
    width: 40%;
    height: auto;
    padding-top: 20px;
}

.infoCarro {
    text-align: left;
    padding: 0 20px;
    overflow: hidden; /* Evita que el contenido desborde */
    max-height: 0; /* Comienza con altura 0 */
    transition: max-height 0.5s ease; /* Transición suave para la altura */
}

.infoCarro.show {
    max-height: 500px; 
}

.Info-Respuesta {
    display: flex;
    align-items: left;
    gap: 5px;
    flex-direction: row;
}

.Info-Respuesta-Manto {
    display: flex;
    align-items: left;
    gap: 5px;
    flex-direction: column;
}

.linea{
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    margin: 1.12rem 2px 0 2px;
}

.linea2{
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 2px 0 2px;
}

.fotoCarro h2 {
    font-family: "Russo One", sans-serif;
    font-size: 2rem;
    margin: 0;
}

p{
    margin: 5px 0;
    font-family: "Quicksand", sans-serif;
    font-size: 1.04rem;
}

.Info-Respuesta-Manto p{
    margin: 1px 0;
    font-family: "Quicksand", sans-serif;
    font-size: 1.04rem;
}